<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adding the username</title>
</head>
<body>
    <form action="/user/new" method="post">
        <input name="id" type="text" placeholder="enter id">
        <input name="email" type="email " placeholder="Enter email">
        <input name="username" type="text" placeholder="Enter username">
        <input name="password" type="password" placeholder="Enter password">
        <button type="submit">Add User</button>
    </form>
</body>
</html>